<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head',{page_title: 'Saved Books'})%>
<body>
    <%-include('../../layout/header')%>
    <!-- <%- include('./detail') %> -->
    <form action="/"  method="get">
        <button>View Saved Books</button>

    
</body>
</html>