*{
    background-color: rgb(197, 197, 206);
    font-size: 20px;
    margin: 20px;
}
form{
    text-align: center;
    border-radius: 10px;
}
button{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    background-color: rgb(97, 95, 95);
    padding: 20px;
}

li{
    margin-left: 300px;
    margin-right: 250px;
    padding: 50px;
    background-color: rgb(59, 59, 59);
}

#first{
    background-color: white;
    color: black;

}

img{
    width: 35%;
    margin-left: 150px;

}
p{
    font-size: 15px;
}
h3{
    text-align: center;
}
