*{
    background-color: rgb(197, 197, 206);
    font-size: 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button{
    background-color: black;
    color: white;
}
header{
    background-color:black;
    padding: 30px;
    padding-top: 15px;

}
h1{
   float: left;
   color: white;
   background-color: black;
}
i{
    color: white;
    float: right;
    background-color: black;
}
#first{
    background-color: white;
    color: black;

}

li{
    margin-left: 300px;
    margin-right: 250px;
    padding: 50px;
    background-color: rgb(59, 59, 59);
}

img{
    width: 35%;
    margin-left: 150px;

}
p{
    font-size: 15px;
}
button{
    display: inline;
    border-radius: 10px;
}

