<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search page</title>
</head>
<body>
    <form action="/new" method="GET">
        <fieldset>
                <input type="text" placeholder="Enter a title or outher"><br>
                <label>Title
                    <input type="radio" name="new" value="title">
                  </label><br>
          
                  <label>Title
                    <input type="radio" name="new" value="Author">
                  </label><br>
                  <button>Search the Google Books API</button>
        </fieldset>

    </form>

    
</body>
</html>