<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head',{page_title: 'Search Book'})%>
<body>
    <%-include('../../layout/header')%>
   <main> 
       <br>
    <h2>Search by Title or Author</h2>
    <form action="/searches" method="POST">
        <fieldset>
                <input type="text"name="search" placeholder="Enter a title or author"id="first"><br>
                <label>Title
                    <input type="radio" name="contact" value="Title">
                  </label><br>
          
                  <label>Author
                    <input type="radio" name="contact" value="Author">
                  </label><br>
                  <button>Search the Google Books API</button>
        </fieldset>

    </form>

</main> 
</body>
</html>