<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head',{page_title: 'Error'})%>
  <body>
    <main>
        <h1>An Error Has Occurred</h1>
        <h3><%= err %></h3>

    </main>
  </body>
</html>